<nav class="navbar-boilerplate navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Ticket</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link app-home-link" [routerLink]="['/']">Início<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" (click)="showSearch()">
            <span class="simpleArticleIcon">
              <i class="fas fa-search" style="color: #00B7FF;"></i>
            </span>
          </a>
        </li>
      </ul>
      <form *ngIf="searchStatus" class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Busca" aria-label="Busca">
      </form>
      <ul *ngIf="showMenu" class="navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link app-login-link" [routerLink]="['/login']">Entrar<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link app-singup-link" [routerLink]="['/signup']">Registrar<span
              class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
